.bg-primary {
  background-color: #8540f5 !important;
}

.bg-primary-dark {
  background-color: #5227cc !important;
}

.btn {
  color: white;
  border: none;
  cursor: pointer;
}


.btn-primary {
  background-color: #8540f5 !important;
  padding: 2px 10px !important;
  border-radius: 4px;
}

.btn-primary-dark {
  background-color: #5227cc !important;
  padding: 2px 10px !important;
  border-radius: 4px;
}

.btn-primary-dark:hover {
  color: white !important;
  background-color: #5a2499;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #ffffff !important;
}

.profile-button {
  width: 37px; 
  height: 37px;
  background-color: #70a6fc !important; 
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-button:hover {
  background-color: #70a6fc;
  border: #70a6fc;
}

.profile-button img {
  color: #303b49;
  font-size: 1.5rem;
  width: 125%; 
  height: 125%; 
  object-fit: cover;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}