{% load static %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <!-- Brand Name -->
    <a class="navbar-brand text-white fw-bold" href="#">LectureLoot</a>

    <!-- Toggle Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links and Search Bar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/categories">Categories</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Logout</a>
          </li>
        
          {% else %}

          <li class="nav-item">
            <a class="nav-link text-white" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>

        {% endif %}

      </ul>

      <!-- Search Bar -->
      <form class="d-flex me-3" role="search" method="GET" id="search">
        <input class="form-control rounded-pill me-2" type="search" placeholder="Search..." aria-label="Search" id="query">
      </form>

      <a href="/profile">
        <button class="btn btn-light rounded-circle px-0 py-0 profile-button">
          <img src="{% static 'icons/profile-circle.svg' %}" alt="Profile">  
        </button>
      </a>
    </div>
  </div>
</nav>
