{% extends 'app/base.html' %}
{% load static %}
{% load listing_card %}

{%block title_block %}{{user.username}}{% endblock %}

{% block body_block %}
<div class="container">
    <h2>Merchant: {{user.username}}</h2>
    <table class="profile-table">
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ user.rating }}</td>
        </tr>
    </table>
    <h2>{{ user.username }}'s Listings</h2>
    
    <div class="row g-4">
        {% for listing in listings %}
            <div class="col col-12 col-md-6 col-lg-4">
                {% render_listing listing %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
