{% extends 'app/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <h2>Profile</h2>
    <table class="profile-table">
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
            <td><button class="btn btn-primary-dark" onclick="window.location.href='/profile/edit?autofocus=first_name'">Change</button></td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
            <td><button class="btn btn-primary-dark" onclick="window.location.href='/profile/edit?autofocus=email'">Change</button></td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
            <td><button class="btn btn-primary-dark" onclick="window.location.href='/profile/edit?autofocus=username'">Change</button></td>
        </tr>
        <tr>
            <th>Password</th>
            <td>********</td>
            <td><button class="btn btn-primary-dark" onclick="window.location.href='/profile/change-password'">Change</button></td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{ user.rating }}</td>
            <td></td>
        </tr>
    </table>
</div>
{% endblock %}
